<strong>Olá, {{ deliveryMan }}</strong>
<p>Houve um cancelamento de encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatario: </strong> {{ name }} <br />
  <strong>Data/hora do cancelamento: </strong> {{ date }} <br />
</p>
